:host {
  > ul {
    > li {
      .sub-menu {
        max-height: 0;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
      }
      &.is-open {
        > .sub-menu {
          max-height: 500px;
        }
      }
    }
  }
}