:host {
  > ul {
  
    > li {
      .sub-menu {
        max-height: 0;
        overflow: hidden;
        transition: 0.1s;
      }
      &.is-open {
        transition: 0.1s 'ease-out';
        > .sub-menu {
          max-height: 500px;
        }
      }
    }
  }
}